.textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    color: white;
    height: 60%;
}

.activeContainer {
    display: flex;
    align-items: center;
    margin-bottom: 50%;
}

.online-icon{
    margin-left: 10px;
}

.activeItem {
    display: flex;
    align-items: center;
}

.activeContainer img {
    padding-left: 10px;
    
}

.textContainer h1 {
    margin-bottom: 0px;
}


@media (min-width: 0px) and (max-width: 1200px) {
    .textContainer {
        display: none;
    }
}
